<form #loginForm="ngForm"  (submit)="tryLogin(loginForm)" novalidate>
  <h3>Login</h3>
  <p class="alert alert-danger" role="alert" *ngFor="let error of errors">{{ error }}</p>

  <div class="form-control">
    <p>Email: <input class="form-control" type="text" name="loginAttempt.email" [(ngModel)]="loginAttempt.email" required #emailField="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" /></p>
    <div class="alert alert-danger" *ngIf="(loginForm.submitted || emailField.dirty || emailField.touched) && emailField.errors">
      <div [hidden]="!emailField.errors.required">Email field is required</div>
      <div [hidden]="!emailField.errors.pattern">Email is not formatted correctly</div>
    </div>

    <p>Password: <input class="form-control" type="password" name="loginAttempt.password" [(ngModel)]="loginAttempt.password" required #passwordField="ngModel" minlength="8"/></p>
    <div class="alert alert-danger" *ngIf="(loginForm.submitted || passwordField.dirty || passwordField.touched) && passwordField.errors">
      <div [hidden]="!passwordField.errors.required">Password field is required</div>
    </div>

    <button class="btn btn-primary">Login</button>
    <a id="register-btn" href="/registration">Register</a>
  </div>
</form>